.app {
  width: 950px;
  background-color: silver;
  margin: 0px auto;
  padding: 20px;
}

.top-nav {
  height: 150px;
  background-color: green;
}

.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  margin-top: 20px;
  margin-right: 20px;

}

.main {
  /* height: 400px;   Commented out because it makes overlapping problems */
  width: 700px;
  vertical-align: top;
  background-color: red;
  margin-top: 20px;
  padding: 10px;

}

.sub-content {
  height: 200px;
  width: 210px;
  background-color: yellow;
  display: inline-block;
  margin: 5px;
}

.advertisement {
  height: 120px;
  width: 660px;
  background-color: purple;
  margin: 5px;
  margin-top: 20px;

}

.side-nav,
.main {
  display: inline-block;

}